body {
	margin: 0;
	padding: 0;
    background-color: black;
}
.text {
  color: white;
  margin: 20;
}

.name, #name {
	margin: 40px;
}

#instructions {
	color: white;
  	margin: 20px;
  	position: absolute;
	top: 800px;
	left:25%;
	text-align: center;
	vertical-align: middle;
}

#help {
	color: white;
  	margin: 20px;
  	position: absolute;
	top: 650px;
	left:32%;
	vertical-align: middle;
}


.person {
  position: absolute;
  top: 284px;
  left: 400px;
}
#head {
  width: 120px;
  height: 120px;
  background: rgb(255, 240, 156);
  position: absolute;
  top: 0px;
  border-radius: 50% 50% 70% 70%;
  border-style: solid;
  border-width: 0 0 1px 0;
}
.body {
  width: 110px;
  height: 18px;
  background: rgb(255, 240, 156);
  position:absolute;
  top: 114px;
  left: 5px;
  border-radius: 10% 10% 0 0;
  border-style: solid;
  border-width: 0 1px 1px 1px;
}
.arm-left {
  width: 25px;
  height: 10px;
  background: rgb(255, 240, 156);
  position: absolute;
  top: 121px;
  left: -10px;
  border-radius: 20% 20% 20% 20%;
  transform: rotate(-50deg);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 37% 100%);
}
.arm-right {
  width: 25px;
  height: 12px;
  background: rgb(255, 240, 156);
  position: absolute;
  top: 121px;
  left: 108px;
  border-radius: 10%;
  transform: rotate(45deg);
}
.leg-left {
  width: 35px;
  height: 80px;
  background: rgb(255, 240, 156);
  position: absolute;
  top: 220px;
  left: 10px;
  border-radius: 10%;
}
.leg-right {
  width: 35px;
  height: 80px;
  background: rgb(255, 240, 156);
  position: absolute;
  top: 220px;
  left: 75px;
  border-radius: 10%;
}
.eye1, .eye2 {
  width: 15px;
  height: 10px;
  border: 5px solid;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 25px;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
}
.eye2 {
  left: 65px;
}
.mouth {
  width: 10px;
  height: 10px;
  border: 5px solid;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  left: 48px;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
}

.pic-frame {
  position: absolute;
  top: 200px;
  left: 354px;
  width: 210px;
  height: 240px;
}
.pic-frame:hover {
  top: 210px;
}
.frame-outer {
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
}
.frame-shadow {
  background: purple;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
.frame-inner {
  background: black;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}
.frame-stand {
  background: purple;
  position: absolute;
  top: 100px;
  left: -50px;
  width: 50px;
  height: 150px;
  border-radius: 0 0 100% 0;
  transform: rotate(45deg);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}

.flower {
  position: absolute;
  top: 500px;
  left: 480px;
}
.flower:hover {
  top: 510px;
}
.petal1 {
  width: 10px;
  height: 30px;
  background: rgb(252, 71, 71);
  position: absolute;
  border-radius: 100% 0 97% 3% / 91% 0% 99% 3%;
  top: -10px;
  left: 5px;
  transform: rotate(-32deg);
  position: absolute;
}
.petal2 {
  width: 10px;
  height: 30px;
  background: rgb(219, 24, 24);
  position: absolute;
  border-radius: 100% 0 97% 3% / 91% 0% 99% 3%;
  top: -1px;
  left: 30px;
  transform: rotate(45deg);
  position: absolute;
}
.petal3 {
  width: 14px;
  height: 30px;
  background: rgb(252, 71, 71);
  position: absolute;
  border-radius: 40% 69% 47% 3% / 50% 57% 89% 66%;
  top: -8px;
  left: 19px;
  transform: rotate(40deg);
  position: absolute;
}
.petal4 {
  width: 14px;
  height: 30px;
  background: rgb(219, 24, 24);
  position: absolute;
  border-radius: 100% 0 57% 3% / 51% 0 99% 35%;
  top: -10px;
  left: 12px;
  transform: rotate(0deg);
  position: absolute;
}
.stem {
  width: 5px;
  height: 100px;
  background: rgb(0, 110, 22);
  border-radius: 40%;
  transform: rotate(25deg);
  position: absolute;
}
.leaf {
  width: 0;
  height: 0;
  top: 30px;
  left: -18px;
  border-radius: 50%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 30px solid rgb(0, 94, 19);
  border-right: 1px solid transparent;
  border-style: solid;
  transform: rotate(60deg);
  position: absolute;
}

.flower2 {
  position: absolute;
  top: 470px;
  left: 430px;
}
.flower2:hover{
  top: 480px;
}
.petal21 {
  width: 10px;
  height: 39px;
  background: rgb(219, 24, 24);
  position: absolute;
  border-radius: 100% 0 97% 3% / 91% 0% 99% 3%;
  top: -10px;
  left: -20px;
  transform: rotate(-52deg);
  position: absolute;
}
.petal22 {
  width: 10px;
  height: 30px;
  background: rgb(252, 71, 71);
  position: absolute;
  border-radius: 100% 0 97% 3% / 91% 0% 99% 3%;
  top: -5px;
  left: 4px;
  transform: rotate(25deg);
  position: absolute;
}
.petal23 {
  width: 14px;
  height: 30px;
  background: rgb(219, 24, 24);
  position: absolute;
  border-radius: 40% 69% 47% 3% / 50% 57% 89% 66%;
  top: -8px;
  left: -5px;
  transform: rotate(10deg);
  position: absolute;
}
.petal24 {
  width: 13px;
  height: 35px;
  background: rgb(252, 71, 71);
  position: absolute;
  border-radius: 80% 0 63% 3% / 51% 0 59% 45%;
  top: -10px;
  left: -15px;
  transform: rotate(-30deg);
  position: absolute;
}
.stem2 {
  width: 5px;
  height: 100px;
  background: rgb(0, 110, 22);
  border-radius: 40%;
  transform: rotate(-8deg);
  top: 10px;
  position: absolute;
}
.leaf2 {
  width: 0;
  height: 0;
  top: 30px;
  left: -25px;
  border-radius: 50%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 30px solid rgb(0, 94, 19);
  border-right: 1px solid transparent;
  border-style: solid;
  transform: rotate(20deg);
  position: absolute;
}
.leaf22 {
  width: 0;
  height: 0;
  top: 50px;
  left: -4px;
  border-radius: 50%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 30px solid rgb(0, 94, 19);
  border-right: 1px solid transparent;
  border-style: solid;
  transform: rotate(140deg);
  position: absolute;
}



.person-popup {
  
}

.person-popup .text{
  visibility: hidden;
  position: absolute;
  top: 200px;
  left: 130px;
  width: 470px;
  height: 470px;
}

.person-popup .show {
  visibility: visible;
}

.persondesc-popup {
  
}

.persondesc-popup .text{
  visibility: hidden;
  background-color: transparent;
  position: absolute;
  z-index: 100;
  top: 205px;
  left: 700px;
  width: 450px;
  height: 470px;
}

.persondesc-popup .show {
  visibility: visible;
}

.persondesc2-popup .text{
  visibility: hidden;
  background-color: rgb(230, 0, 230);
  position: absolute;
  top: 205px;
  left: 700px;
  width: 450px;
  height: 470px;
}

.persondesc2-popup .show {
  visibility: visible;
}

.arrow {
  width: 0;
  height: 0;
  vertical-align: middle;
  top: 730px;
  left: 48%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid rgb(0, 94, 19);
  border-left: 10px solid transparent;
  border-right: 10px solid rgb(0, 94, 19);
  border-style: solid;
  transform: rotate(45deg);
  position: absolute;
}

